*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --topbottom-bar-height: 60px;
    --notifications-height: 70px;
    --searchbar-height: 40px;
}

html{
    font-family: Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, rgb(0, 150, 136) 20%, rgb(219, 219, 210) 20%);
}

.container{
    display: flex;
    width: 1400px;
    height: calc(100vh - 40px);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left-side{
    flex-basis: 30%;
    background-color: white;
    border-right: 1px solid lightgray;
}

.right-side{
    position: relative;
    flex-basis: 70%;
    background-image: url('../img/background-wa.png');
    background-size: contain;
}

.profile-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: var(--topbottom-bar-height);
    background-color: rgb(234, 234, 234);
    font-size: 1rem;
}

.profile{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.icon{
    margin: 0 8px;
    font-size: 20px;
    color: rgb(177, 177, 177);
    cursor: pointer;
}

.notifications{
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--notifications-height);
    background-color: rgb(142, 218, 252);
    cursor: pointer;
}

.notifications .bell-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 8px;
    font-size: 15px;
    background-color: white;
    color: rgb(142, 218, 252);
    border-radius: 50%;
}

.activate-notifications{
    font-size: 14px;
    color: gray;
    text-decoration: underline;
}

.search-bar{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: var(--searchbar-height);
    background-color: rgb(250, 250, 250);
}

.search-bar button, .search-bar input{
    padding: 0.3rem 1rem;
    height: 2rem;
    font-size: 1rem;
    background-color: white;
    border: none;
}

.search-bar input{
    width: 100%;
    border-left: 0.5px solid rgb(0, 0, 0, 0.3);
}

.chat-messages{
    height: calc(100% - var(--notifications-height) - var(--searchbar-height) - var(--topbottom-bar-height));
    overflow-y: auto;
}

.chat-left-container{
    display: none;
}

.chat-left-side{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem;
    background-color: white;
    border-bottom: 0.5px solid rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.chat-left-side .avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chat-left-side h2{
    font-size: 1rem;
    font-weight: 500;
}

.chat-left-side p{
    font-size: 12px;
    color:rgb(177, 177, 177)
}
.chat-left-side .user-update{
    padding-top: 0.5rem;
    width: 100%;
}
.chat-left-side .user-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.last-access{
    font-size: 12px;
    color: gray;
    display: none;
}

.show-name{
    display: none;
}

.chat{
    max-width: 100%;
    height: calc(100% - (var(--topbottom-bar-height) * 2));
    padding: 3rem 5rem;
    overflow: auto;
}

.chat-render{
    display: none;
}

.chat-render .flex-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sent, .received{
    position: relative;
    min-width: 30%;
    max-width: 50%;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.arrow-icon{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 12px;
    color: gray;
    cursor: pointer;
}

.dropdown{
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 10;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 15px;
    padding: 1rem;
    background-color: white;
}

.dropdown li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.dropdown li:hover{
    color: gray;
    text-decoration: underline;
}

.sent{
    background-color: rgb(213, 249, 186);
    align-self: flex-end;
}

.received{
    background-color: white;
    align-self: start;
}

.chat-time{
    font-size: 10px;
    color: gray;
    position: absolute;
    right: 5px;
    bottom: 3px;
}

.right-side .bottom-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.5rem;
    width: 100%;
    height: 60px;
    background-color: rgb(243, 238, 234);
}

.bottom-bar input{
    flex-basis: 80%;
    height: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: none;
}

.active{
    display: block;
}

/* hover effects */
.chat-left-side:hover{
    background-color: rgb(233, 235, 235);
}

.icon:hover{
    color: gray;
}